{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-keyboard" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Add Author
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label class="form-control-label">NAME</label>
                            <input type="text" class="form-control" name="name" required>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">BIO</label>
                            <textarea class="form-control" name="bio" required></textarea>
                        </div>


                        <div class="form-group">
                            <label class="form-control-label">USER</label>
                            <select name="user" required>
                                {% for user in form.user %}
                                <option value="{{ user.id }}">{{ user }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-lg-12 loginbttm text-warning text-center">
                            {% for message in messages%}
                            <p>{{ message}}</p>
                            {% endfor %}
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text">
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="btn btn-outline-primary">ADD AUTHOR</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
{% endblock content %}