{% extends 'base.html' %} {% block content %}
<div class="card-deck">
  {% for recipe in recipes %}
  <div class="card">
    {% if recipe.imageUrl %}
    <img
      class="card-img-top image_receipe_card"
      src="{{recipe.imageUrl}}"
      alt="Card image cap"
    />
    {% else %}
    <img
      class="card-img-top image_receipe_card"
      src="{{imageSrc}}"
      alt="Card image cap"
    />

    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">
        Recipe By: {{recipe.author}}
      </p>
      <a
        href="{% url 'recipes:recipe_detail' recipe.id %}"
        class="btn btn-primary"
        >Read More</a
      >
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
