{% extends 'base.html' %} {% block content %}
<div class="card-deck recipe_cards">
  {% for recipe in recipes %}
  <div class="card">
    <img class="card-img-top image_receipe_card" src="{{recipe.imageUrl}}" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{recipe.title}}</h5>
      <p class="card-text">
        Recipe By: {{recipe.author}}
      </p>
      <a
        href="{% url 'recipes:recipe_detail' recipe.id %}"
        class="btn btn-primary"
        >Read More</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
