{% extends 'base.html' %} {% block content %}
<div class="card container" style="width: 30rem;">
  {% if recipe.imageUrl %}
  <img class="card-img-top" src="{{recipe.imageUrl}}" alt="Card image cap" />
  {% else %}
  <img class="card-img-top" src="{{imageSrc}}" alt="Card image cap" />

  {% endif %}

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endblock %}
