{% extends 'base.html' %} {% block content %}

<div class="card">
  <h5 class="card-header">Recipe details</h5>
  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p class="card-text">
      Description: {{ recipe.description }}
    </p>
    <p class="card-text">
     <strong style="color: red;"> Time required: {{ recipe.time_required }}</strong> <br> How to make melt in your mouth chicken:
      <p>{{recipe.instructions }}</p>
    </p>
    <a
      href="{% url 'recipes:authorDetail' recipe.author.id %}"
      class="btn btn-primary"
      >Recipe by : {{ recipe.author }}</a
    >
  </div>
</div>
{% endblock %}
