{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Recipes Box</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-info sticky-top justify-content-center">
      <a class="navbar-brand receipes_box_nav" href="/">RECEIPES BOX</a>
    </nav>

    <div class="container add_author_add_recipe_btn">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lets Add Author.</h5>
              <p class="card-text">
                If this is your first time in this site, add your self as an
                author to post recipe.
              </p>
              <a href="{% url 'recipes:add_author' %}" class="btn btn-primary"
                >Add Author</a
              >
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                Are you ready to add recipe to recipes box?
              </h5>
              <p class="card-text">
                Be sure to add yourself as author, if you have not done so.
              </p>
              <a href="{% url 'recipes:add_recipe' %}" class="btn btn-primary"
                >Add Recipe</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <main class="container">
      {% block content %} {% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
