@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap");

html, body{

  font-family: "IBM Plex Mono", monospace !important;
background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=2255&q=80");
}
nav {
  height: 90px !important;
  margin-bottom: 2%;

}

.nav_a_tag:hover{
    color: yellow;
}
.nav_a_recipe:hover{
    color: green;
}
.nav_a_logout:hover{
    color: red;
}
.icon_user{
color: darkorange;
}
.nav_a{
    padding-left: 19px;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    color: white !important
}
.receipes_box_nav {
  font-size: 36px !important;
  font-weight: 700 !important;
  font-family: "IBM Plex Mono", monospace;
  color: white !important
}
.add_author_add_recipe_btn {
  margin: 2%;
}
.card.title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500 !important;
}
.card-text {
  font-family: "IBM Plex Mono", monospace;
}
/* home.html */

.image_receipe_card {
  height: 312px;
  width: 200px;
}

/* userpage */

.flex-container{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
.child {
  width: 20%;
}

.card{
margin-top: 1% !important;
}
main{
margin-bottom: 10%
}
.footer{
    margin-top: 3%;
    position: fixed !important;
   bottom: 0 !important;
   width: 100%;
   color: white;
   text-align: center;
   height:90px;

}
